<launch>
  <node name="map_to_odom_tf_monitor"
        pkg="stella_tf_monitor"
        type="stella_tf_monitor_node">
    <param name="target_frame" value="map" />
    <param name="source_frame" value="odom" />
  </node>
  <node name="odom_to_base_link_tf_monitor"
        pkg="stella_tf_monitor"
        type="stella_tf_monitor_node">
    <param name="target_frame" value="odom" />
    <param name="source_frame" value="base_link" />
  </node>
  <node name="map_to_base_link_tf_monitor"
        pkg="stella_tf_monitor"
        type="stella_tf_monitor_node">
    <param name="target_frame" value="map" />
    <param name="source_frame" value="base_link" />
  </node>
</launch>